#logo {
	width: 50px;
}

.navbar-collapse {
	flex-grow: 0;
}

.navbar-brand {
	flex-grow: 1;
}

/* styles.css */
html {
	scroll-behavior: smooth;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}


.parallax {
	position: relative;
	height: 800px;
	/* Ajuste conforme necessário */
	background-image: url('images/background.jpg');
	/* Substitua pela sua imagem */
	background-color: rgba(0, 0, 0, 1);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Cor preta com 50% de opacidade */
	z-index: 1;
	/* Faz com que o pseudo-elemento fique sobre a imagem */
	pointer-events: none;
	/* Permite que o conteúdo abaixo ainda seja clicável */
}

.parallax .content {
	position: relative;
	z-index: 2;
	/* Faz com que o conteúdo fique acima do pseudo-elemento */
	color: white;
	padding: 20px;
}

.content {
	height: 900px;
	/* Ajuste conforme necessário */
	padding: 100px;
	text-align: left;
}

#logoparal {
	position: absolute;
	/* Use absolute para posicionar em relação ao contêiner pai ou ao viewport */
	left: 2%;
	/* Ajuste a porcentagem para posicionar proporcionalmente */
	top: 10%;
	/*Ajuste a porcentagem para posicionar proporcionalmente */
	height: 300px;
	/* Ajuste para que a altura seja proporcional */
	width: 300px;
	padding: 1em;
}

.bgtext {
	position: absolute;
	/* Use absolute para posicionar em relação ao contêiner pai ou ao viewport */
	left: 139px;
	/* Ajuste a porcentagem para posicionar proporcionalmente */
	top: 32.5%;
	/*Ajuste a porcentagem para posicionar proporcionalmente */
	/* Ajuste para que a altura seja proporcional */
	/* Ajuste a largura proporcionalmente ao contêiner ou viewport */
	padding: 1em;
	/* Use unidades relativas como em para o padding */
	text-align: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	/* Cor do texto */
	margin-left: 45px;
}

#section1 {
	display: block;
	margin: 0;
	/* Define a borda inferior do elemento */
	padding-bottom: 10px;
	/* Espaço entre o conteúdo e a borda inferior */
	/* Sombra aplicada na parte inferior */
	scroll-margin-top: 80px;
}

#section2, #section3 {
	scroll-margin-top: 80px;
}

#servicos {
	text-align: center;
}

h2 {
	font-family: "Moderustic", sans-serif;
	font-style: normal;
	color: orange;
	text-align: center;
}

/*-------------------------------------------------*/
.traco {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	/* Espaço entre o conteúdo e a borda inferior */
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
	/* Sombra aplicada na parte inferior */
	
}

.com {
	width: 100px;
	height: 0.2px;

	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.7);
}

/*-------------------------------------------------*/
/*colunas*/

.col-4 {
	position: relative;
	height: 220px;
	border: black;
	background: linear-gradient(90deg, rgba(142, 147, 148, 1) 7%, rgba(0, 0, 0, 0.8127626050420168) 61%, rgba(2, 0, 36, 1) 100%);
	overflow: hidden;
}



.col-4 div {
	display: flex;
	height: 220px;
	top: -60px;
	overflow: hidden;
	/* Oculta qualquer conteúdo que ultrapasse os limites da div */
	white-space: nowrap;
	/* Impede que os spans se movam para a linha seguinte */
}

.col-4 p {
	position: absolute;
	font-size: 30px;
	font-family: "Moderustic", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: white;
	z-index: 1;
}

/*__________________CARROssEL______________________________________*/
.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel-wrapper {
    width: 650px;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item1 {
	margin-left: 25px;
	display: flex;
    min-width: 600px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(142, 147, 148, 1) 7%, rgba(0, 0, 0, 0.8127626050420168) 61%, rgba(2, 0, 36, 1) 100%);
	overflow: hidden;
	/* Oculta qualquer conteúdo que ultrapasse os limites da div */
	white-space: nowrap;
    position: relative;
}

.item2, .item3, .item4, .item5, .item6 {
	margin-left: 50px;
	display: flex;
    min-width: 600px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(142, 147, 148, 1) 7%, rgba(0, 0, 0, 0.8127626050420168) 61%, rgba(2, 0, 36, 1) 100%);
	overflow: hidden;
	white-space: nowrap;
    position: relative;
} 

.item p {
    
	position: absolute;
	width: 100%;
	top: 10%;
		font-size: 30px;
		font-family: "Moderustic", sans-serif;
		font-weight: 700;
		font-style: normal;
		color: white;
		padding-left: 20px;
		z-index: 1;
}

.item1 span, .item2 span, .item3 span, .item4 span, .item5 span, .item6 span {
	display: block;
	width: 10px;
	height: 380px;
	/* top: -25px; */
	right: -40%;
	transform: rotate(25deg);
	/* Rotaciona o span em 25 graus no sentido horário */
	margin-right: 5px;
	/* Espaçamento entre os spans */
	transform-origin: center;
	position: relative;
}
.item1 span {
	background: orange;
}
.item2 span {
	background: blue;
}
.item3 span {
	background: #1ee689;
}
.item4 span {
	background: red;
}
.item5 span {
	background: #1e87e6;
}
.item6 span {
	background: #1ee6b5;
}

.arrow {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: 0;
	z-index: 1;
}

.right-arrow {
    right: 0;
}
.img01 {
	position: absolute;
	/* Posiciona a imagem sobre a div */
	top: 38%;
	/* Ajuste a posição do topo conforme necessário */
	left: 5%;
	/* Ajuste a posição da esquerda conforme necessário */
	width: 160px;
	/* Ajuste o tamanho da imagem conforme necessário */
	height: auto;
	/* Mantém a proporção da imagem */
	z-index: 1;
	/* Garante que a imagem fique sobre o conteúdo da div */
}
.img02 {
	position: absolute;
	/* Posiciona a imagem sobre a div */
	top: 46%;
	/* Ajuste a posição do topo conforme necessário */
	left: 50%;
	/* Ajuste a posição da esquerda conforme necessário */
	width: 140px;
	/* Ajuste o tamanho da imagem conforme necessário */
	height: auto;
	/* Mantém a proporção da imagem */
	z-index: 1;
	/* Garante que a imagem fique sobre o conteúdo da div */
}
.img03 {
	position: absolute;
	/* Posiciona a imagem sobre a div */
	top: 38%;
	/* Ajuste a posição do topo conforme necessário */
	left: 5%;
	/* Ajuste a posição da esquerda conforme necessário */
	width: 160px;
	/* Ajuste o tamanho da imagem conforme necessário */
	height: auto;
	/* Mantém a proporção da imagem */
	z-index: 1;
	/* Garante que a imagem fique sobre o conteúdo da div */
}
.img04 {
	position: absolute;
	/* Posiciona a imagem sobre a div */
	top: 46%;
	/* Ajuste a posição do topo conforme necessário */
	left: 50%;
	/* Ajuste a posição da esquerda conforme necessário */
	width: 140px;
	/* Ajuste o tamanho da imagem conforme necessário */
	height: auto;
	/* Mantém a proporção da imagem */
	z-index: 1;
	/* Garante que a imagem fique sobre o conteúdo da div */
}
.img05 {
	position: absolute;
	/* Posiciona a imagem sobre a div */
	top: 38%;
	/* Ajuste a posição do topo conforme necessário */
	left: 5%;
	/* Ajuste a posição da esquerda conforme necessário */
	width: 160px;
	/* Ajuste o tamanho da imagem conforme necessário */
	height: auto;
	/* Mantém a proporção da imagem */
	z-index: 1;
	/* Garante que a imagem fique sobre o conteúdo da div */
}
.img06 {
	position: absolute;
	/* Posiciona a imagem sobre a div */
	top: 46%;
	/* Ajuste a posição do topo conforme necessário */
	left: 50%;
	/* Ajuste a posição da esquerda conforme necessário */
	width: 140px;
	/* Ajuste o tamanho da imagem conforme necessário */
	height: auto;
	/* Mantém a proporção da imagem */
	z-index: 1;
	/* Garante que a imagem fique sobre o conteúdo da div */
}


/*___________________________________________________________________*/



.first span, .second span, .third span, .fourth span, .fifth span, .sixth span {
	display: block;
	width: 10px;
	height: 300px;
	top: -25px;
	right: -50%;
	transform: rotate(25deg);
	/* Rotaciona o span em 25 graus no sentido horário */
	margin-right: 5px;
	/* Espaçamento entre os spans */
	transform-origin: center;
	position: relative;

}
.first span {
	background: orange;
}
.second span{
	background: blue;
}

.third span {
	background: #1ee689;
}
.fourth span {
	background: red;
}
.fifth span {
	background: #1e87e6;
}
.sixth span {
	background: #1ee6b5;
}

/*---------------------------------------------------*/
.clearfix {
	margin-top: 2rem;
	width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
	
}


.clearfix img {
	width: 43.7%;
	padding-left: 5%;
	margin-bottom: 0;
}

.info {
	font-family: "Moderustic", sans-serif;
	font-style: normal;
	margin-top: 30px;
}

.about {
	font-size: 20px;
	text-align: justify;
	font-family: "lato", sans-serif;
	font-style: normal;
	width: 100%;
	padding-left: 6%;

}

.about p {
	text-align: justify;
	text-indent: 30px;
	padding-right: 20px;
}

.about h2 {
	text-align: left;
}



/*___________________________________________________*/
.dadosContato {
	height: 34.5rem;
}

.dadosContato .row {
	height: 100%;
	border: 1px solid #ccc;
	position: relative;
	/* Necessário para posicionar a sombra */
	box-shadow: -5px 0 5px rgba(0, 0, 0, 0.3), 5px 0 5px rgba(0, 0, 0, 0.3);
	/* Sombra na borda esquerda */

}

.sec1 {
	align-content: center;
	padding-left: 12%;
	padding-right: 12%;
}

form {
	text-align: left;
}

form div {
	margin-bottom: 20px;
}

#nome, #email, #telefone, #mensagem {
	border: none;
	border-bottom:1px solid #07b5bd;
	outline: none; /* Remove o contorno de foco padrão */
}

.bt {
	margin: 0;
	width: 100%;
	text-align: center;
}

.bt button {
	color: 	white;
	font-size: 18px;
	font-weight: 500;
	font-family: "Moderustic", sans-serif;
	background: #332ccb;
	width: 90px;
	height: 30px;
	border: none;
	border-radius: 15px;
}

.bt button:hover {
	background: #2cbb42;
}

.text-whatsapp,.icon-whatsapp {
	display:flex;
	margin-bottom: 0;
	margin-top: 30px;
	width: 100%;
	align-content: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 700;
	font-family: "lato", sans-serif;
}
.icon-whatsapp {
	height: 42px;
}
.icon-whatsapp svg:hover {
	width: 40px;
	height: 40px;
}

.sec2 {
	text-align: center;
	background: rgb(232, 232, 231);
	background: linear-gradient(90deg, rgba(232, 232, 231, 1) 0%, rgba(249, 248, 248, 1) 50%, rgba(232, 232, 231, 1) 93%);
}

@media (max-width: 992px) {
	.servicos {
		display: none;
	}	
}
@media (min-width: 992px) {
	.carousel-container {
		display: none;
	}	
}

/*__________________________FOOTER___________________________________*/

footer {
	display:flex;
	height:85px;	
	background: #888888;
    align-items: center;
	justify-content: center;
}
footer p{
	margin: 0;
	padding-left: 200px;
	font-size: 18px;
	font-family: "lato", sans-serif;
	color: white;
	width:60%;
	height: 100%;
	align-content: center;
}

.inst {
	margin-left: 200px;
	
}
.fac {
	margin-left: 20px;
}